@model ELearningApp.ViewModels.SchoolCourseViewModel
@{
    ViewData["Title"] = "GetSchool";
    Layout = "~/Views/Shared/_DataTablesLayoutPartial.cshtml";
}
@Html.HiddenFor(c => c.School.Id)
<div class="row">
    <div class="col-lg-5">
        <h1>@Html.DisplayFor(c => c.School.Name)</h1>
    </div>
    <div class="col-lg-7">
        <table id="schools" class="table table-bordered">
            <thead>
                <tr class="bg-primary">
                    <th><h3>Kursevi</h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(c => c.School.Name)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#schools').DataTable();
    });
</script>