@model ELearningApp.Models.User
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DataTablesLayoutPartial.cshtml";
}

<div class="alert alert-success">
        <h2>Zdravo @ViewData["currentUser"]!</h2> 
</div>