@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_DataTablesLayoutPartial.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">Dobrodošli na e-learning platformu</h1>
        <h1 class="text-center"><strong>Poor programmers</strong></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h4 class="text-center">Za pristup kursevima i školama potrebno je da se registrujete.</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="min-height:252px">
        <img src="~/images/GitJoke.png" class="img-responsive" />
    </div>
    <div class="col-lg-4"></div>
</div>
<hr />
