
@{
    ViewData["Title"] = "NoAccess";
    Layout = "~/Views/Shared/_DataTablesLayoutPartial.cshtml";
}

<div class="alert-danger">
    <h1>PRISTUP ZABRANJEN</h1>
    <h3>Samo ADMIN može pristupiti ovoj stranici</h3>
</div>
