@model ELearningApp.Models.Course
@{
    ViewData["Title"] = "DeleteCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DeleteCourse", "Courses"))
{
    @Html.HiddenFor(c => c.Id)
    <form asp-action="DeleteCourse">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
}